* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  height: 100%;
}

@font-face {
  font-family: "Ubuntu-B";
  font-display: swap;
  src: url("../fonts/Ubuntu-B.woff") format("woff"), url("../fonts/Ubuntu-B.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu-BI";
  font-display: swap;
  src: url("../fonts/Ubuntu-BI.woff") format("woff"), url("../fonts/Ubuntu-BI.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu-LI";
  font-display: swap;
  src: url("../fonts/Ubuntu-LI.woff") format("woff"), url("../fonts/Ubuntu-LI.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu-M";
  font-display: swap;
  src: url("../fonts/Ubuntu-M.woff") format("woff"), url("../fonts/Ubuntu-M.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu-L";
  font-display: swap;
  src: url("../fonts/Ubuntu-L.woff") format("woff"), url("../fonts/Ubuntu-L.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu-MI";
  font-display: swap;
  src: url("../fonts/Ubuntu-MI.woff") format("woff"), url("../fonts/Ubuntu-MI.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu-R";
  font-display: swap;
  src: url("../fonts/Ubuntu-R.woff") format("woff"), url("../fonts/Ubuntu-R.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu-RI";
  font-display: swap;
  src: url("../fonts/Ubuntu-RI.woff") format("woff"), url("../fonts/Ubuntu-RI.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.header {
  min-height: 100px;
}

.header__container {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #333333;
  cursor: pointer;
}

.header__logo h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list li {
  opacity: 0.48;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  line-height: 47px;
  font-weight: 400;
  text-transform: uppercase;
  color: yellow;
  list-style: none;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 520px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 15px;
}

.header__menu {
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .pe-7s-drop {
  color: #ffce54;
}

.header__logo-blue {
  color: #65a9d9;
}

.header__burger {
  display: none;
}

.footer {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 139px;
          flex: 1 0 139px;
  background-color: #fafafa;
}

.footer__logo {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #333333;
  cursor: pointer;
}

.footer__logo h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__list li {
  opacity: 0.9;
  font-family: "Open Sans", sans-serif;
  font-size: 13.6px;
  line-height: 28px;
  font-weight: 300;
  color: #4d5664;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 520px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 15px;
}

.footer__menu {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 150px;
}

.footer__icon {
  display: block;
  width: 25px;
  height: 25px;
  position: relative;
  margin-right: 15px;
}

.footer__icon img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  font-size: 20px;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  margin: 0 auto;
  max-width: 1500px;
  height: 100%;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.introduce {
  min-height: 843px;
  background-color: #54a3da;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(147, 147, 147, 0.14)), color-stop(40%, rgba(217, 239, 255, 0.14)), to(rgba(193, 193, 193, 0.14)));
  background-image: -o-linear-gradient(bottom, rgba(147, 147, 147, 0.14) 0%, rgba(217, 239, 255, 0.14) 40%, rgba(193, 193, 193, 0.14) 100%);
  background-image: linear-gradient(0deg, rgba(147, 147, 147, 0.14) 0%, rgba(217, 239, 255, 0.14) 40%, rgba(193, 193, 193, 0.14) 100%);
}

.introduce__container {
  height: 100%;
}

.introduce__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.introduce__title {
  font-family: "Ubuntu", sans-serif;
  font-size: 52px;
  line-height: 72px;
  font-weight: 700;
  text-transform: uppercase;
  color: #f7f6f2;
}

.introduce__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.introduce__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #f7f7f7;
  margin-top: 40px;
}

.introduce__email {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #2d394c;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 425px;
          flex: 1 1 425px;
  max-width: 425px;
  height: 56px;
  background-color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.14);
  border-radius: 5px;
}

.introduce__email::-webkit-input-placeholder {
  opacity: 0.3;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  line-height: 133px;
  font-weight: 300;
  color: #2d394c;
}

.introduce__email::-moz-placeholder {
  opacity: 0.3;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  line-height: 133px;
  font-weight: 300;
  color: #2d394c;
}

.introduce__email:-ms-input-placeholder {
  opacity: 0.3;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  line-height: 133px;
  font-weight: 300;
  color: #2d394c;
}

.introduce__email::-ms-input-placeholder {
  opacity: 0.3;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  line-height: 133px;
  font-weight: 300;
  color: #2d394c;
}

.introduce__email::placeholder {
  opacity: 0.3;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  line-height: 133px;
  font-weight: 300;
  color: #2d394c;
}

.introduce__submit {
  width: 113px;
  height: 54px;
  background-color: #77c344;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  margin-left: 30px;
}

.introduce__paragraph {
  font-family: "Ubuntu", sans-serif;
  font-size: 24px;
  line-height: 47px;
  font-weight: 300;
  color: #ffffff;
}

.yellow {
  width: 57px;
  height: 27px;
  background-color: #ffce54;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5px;
  border-radius: 5px;
  font-weight: 700;
}

.companies {
  min-height: 158px;
  background-color: #f8f8f8;
}

.companies__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 51px;
  padding-bottom: 51px;
}

.companies__item {
  cursor: pointer;
}

.companies__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.companies__img img {
  opacity: 0.47;
}

.about {
  margin-top: 50px;
}

.about__title {
  opacity: 0.85;
  font-family: "Ubuntu", sans-serif;
  font-size: 40px;
  line-height: 133px;
  font-weight: 500;
  text-transform: uppercase;
  color: #2d394c;
  width: 100%;
  text-align: center;
}

.about__columns-img {
  width: 627px;
  height: 515px;
  position: relative;
}

.rows {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.column__item {
  margin-top: 40px;
}

.column__title {
  opacity: 0.9;
  font-family: "Ubuntu", sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: #2d394c;
}

.column__text {
  max-width: 500px;
  margin-top: 15px;
}

.pe-7s-cloud {
  font-size: 50px;
}

.text {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #9499a2;
}

.carousel__content {
  height: 350px;
  position: relative;
  overflow: hidden;
}

.carousel {
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  padding-bottom: 30px;
}

.slider {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300%;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.features {
  margin-top: 50px;
  height: 732px;
  opacity: 0.61;
  background-color: #f1f1f2;
}

.features__title {
  padding-top: 5rem;
  opacity: 0.9;
  font-family: "Ubuntu", sans-serif;
  font-size: 40px;
  font-weight: 500;
  color: #2d394c;
  padding-left: 20rem;
}

.slider section {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.slider2 {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400%;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  overflow: hidden;
}

.slider2 section {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider2 section .column__item {
  padding-left: 60px;
}

.controls .arrow {
  position: absolute;
  top: 50%;
  cursor: pointer;
  font-size: 30px;
}

.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}

.controls ul {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.controls ul li {
  width: 28px;
  height: 27px;
  border: 1px solid #64a4d7;
  border-radius: 50%;
  margin-right: 10px;
  background-color: transparent;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
  font-size: 15.4px;
  font-weight: 700;
  color: #2d394c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__companies {
  height: 158px;
}

.controls ul li.selected {
  background-color: #64a4d7;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: white;
}

.login__title {
  font-family: "Ubuntu", sans-serif;
  font-size: 40px;
  line-height: 32px;
  font-weight: 500;
  color: #5a626e;
  text-align: center;
  padding-top: 10rem;
}

.login__subtitle {
  font-family: "Ubuntu", sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
  font-style: italic;
  color: #5a626e;
  text-align: center;
  margin-top: 30px;
}

.login__form {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  margin-bottom: 10rem;
}

.login__email {
  margin-left: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 632px;
          flex: 1 1 632px;
  height: 70px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.17);
  max-width: 632px;
}

.login__submit {
  margin-right: 10px;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 190px;
          flex: 1 1 190px;
  height: 68px;
  background-color: #77c344;
  max-width: 190px;
  margin-left: 35px;
}

@media (max-width: 1140px) {
  .rows {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .introduce__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .introduce__image {
    margin-top: 30px;
  }

  .introduce__form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }

  .introduce__email,
  .introduce__submit {
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 936px) {
  .features__title {
    text-align: center;
    padding-left: 0;
  }

  .slider2 section .column__item {
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 767px) {
  .header {
    min-height: 70px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
    cursor: pointer;
  }

  .header__burger span {
    -webkit-transition-duration: 0.1s;
         -o-transition-duration: 0.1s;
            transition-duration: 0.1s;
    position: absolute;
    background-color: #000;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
  }

  .header__burger:before,
  .header__burger::after {
    content: "";
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
  }

  .header__burger:before {
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    top: 0;
  }

  .header__burger.active:before {
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    top: 9px;
    rotate: 45deg;
    background-color: white;
  }

  .header__burger.active:after {
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    bottom: 9px;
    rotate: -45deg;
    background-color: white;
  }

  .header__burger.active span {
    visibility: hidden;
    background-color: white;
  }

  .header__burger::after {
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    bottom: 0;
  }

  .header__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2;
    margin-top: -100vh;
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
  }

  .header__nav.active {
    margin-top: 0;
  }

  .header__list li {
    color: white;
    opacity: 1;
  }

  .header__container {
    height: 70px;
  }

  .header__burger {
    margin-right: 35px;
  }

  .header__burger.active {
    position: fixed;
    top: 1.85rem;
    right: 0;
  }

  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 100%;
    margin-top: 50px;
  }

  .header__list li a {
    color: white;
    font-size: 32px;
  }

  .header__list li {
    margin-top: 40px;
  }

  .footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__list li {
    font-size: 20px;
  }

  .companies {
    height: 500px;
  }

  .companies__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .companies__item {
    margin-top: 30px;
  }

  .companies__items:last-child {
    margin-bottom: 30px;
  }

  .login__form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .login__submit {
    padding: 0;
    margin: 0;
    margin-top: 30px;
  }
}

@media (max-width: 636px) {
  .introduce__image {
    width: 310px;
    height: 415px;
    position: relative;
  }

  .introduce__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .about__columns-img {
    width: 310px;
    height: 257px;
    position: relative;
  }

  .about__columns-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 424px) {
  .footer__list {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}